{% extends "base.html" %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<!-- Content Row -->
<div class="row">
    <!-- Area Live Streaming -->
    <div class="col-10">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Live stream</h6>
            </div>
            <div class="card-body">
                <img src="{{ url_for('video_feed') }}" width="100%">
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<div class="row">
    
</div>
{% endblock %}